.searchpage {
    color: white;
}

input, button {
    background-color: white;
    color: black;
}

.suggestions li {
    list-style: none;
}

.searchdiv {
    justify-content: center;
    width: 100%;
    align-content: center;
    height: 50px;
    margin: 10px 0;
}

.searchbutton {
    display: inline-flex;
}

.searchbar {
    padding: 6px 12px;
    height: 100%;
    width: 75%;
}